.el-form-item__label {
  color: inherit;
}

.el-form-item:last-child {
  margin-bottom: 0;
}

.el-form {
  flex: 1;
}

.el-menu {
  border-right: 0;
  background-color: inherit;
}

.el-input__inner,
.el-textarea__inner {
  border-color: inherit;
  background-color: inherit;
  color: inherit;
  border-radius: 0;
}

.el-dropdown {
  display: block;
}

.el-avatar {
  display: block;
}

.el-table {
  color: inherit;
}

.el-table,
.el-table__expanded-cell {
  background: none;
}

.el-table th,
.el-table tr {
  background-color: inherit;
}

.el-button {
  border-radius: 0;

  &--text,
  &--primary {
    border-width: 0;
  }
}

.el-menu-item {
  color: inherit;
}

.el-table td,
.el-table th.is-leaf {
  border-color: inherit;
}

.el-tree {
  color: inherit;
  background: none;
}

.el-tree-node__content {
  height: auto;
  border-bottom-width: 1px;
}

.el-tree-node:focus > .el-tree-node__content {
  background: none;
}

.el-tree-node__content:hover {
  background: none;
}

.el-table th div {
  line-height: inherit;
}

.el-tree-node__expand-icon {
  margin-left: 15px;
}

.el-tree-node__expand-icon.is-leaf {
  color: inherit;
  cursor: inherit;
  display: none;
}

html.mode-dark {
  .el-dropdown-menu__item:focus,
  .el-dropdown-menu__item:not(.is-disabled):hover,
  .el-menu-item:focus, .el-menu-item:hover,
  .el-submenu__title:focus, .el-submenu__title:hover,
  .el-submenu__title:hover,
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
  .el-table__body tr.current-row > td,
  .el-table-filter__list-item:hover,
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .el-table td, .el-table th.is-leaf {
    border-color: #3e3e3e;
  }

  .el-dropdown-menu {
    background-color: #1f1f1f;

    &__item {
      color: inherit;

      &--divided:before {
        background-color: #1f1f1f;
      }
    }
  }

  .el-popper[x-placement^=top] .popper__arrow {
    border-top-color: #3e3e3e;
  }

  .el-popper[x-placement^=top] .popper__arrow::after {
    border-top-color: #1f1f1f;
  }

  .el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #3e3e3e;
  }

  .el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #1f1f1f;
  }

  .el-popper[x-placement^=right] .popper__arrow {
    border-right-color: #3e3e3e;
  }

  .el-popper[x-placement^=right] .popper__arrow::after {
    border-right-color: #1f1f1f;
  }

  .el-popper[x-placement^=left] .popper__arrow {
    border-left-color: #3e3e3e;
  }

  .el-popper[x-placement^=left] .popper__arrow::after {
    border-left-color: #1f1f1f;
  }
}