@tailwind base;
@tailwind components;
@tailwind utilities;

@import "element-theme";

body {
    font-family: 'Montserrat', sans-serif;
}

.el-form-item__label {
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: inherit;
    line-height: 2;
}

.el-form-item:last-child {
    margin-bottom: 0;
}

.el-input__inner {
    border-width: 2px;
    border-radius: 0;
}
